/1. DataServer
/2. ConnectServer
/3. GameServer_N
/3. GameServer_N - Copy
/3. GameServer_N_2
/3. GameServer_N_3
/3. GameServer_N_4
/4. GameServer_A
/5. GameServer_C
/6. Chat Server
/IGC.HardwareID Generator_1.0.0.0
/Homestead
/IGC.EssentialTools
/ToolKit.Premium
/weblogs
/web/addict/app/config/database.php
/$RECYCLE.BIN
/ToolKi.HWID
/3. IGC.ServerInfoTool
/WINDOWS 7
/4. IGC.LicenseCleaner